{% extends "web/base.html" %}
{% load static %}
{% block content %}

<section  class="pageHeader -type-2 -secondary custom-header">
  <div class="pageHeader__bg">
    <img src="{% static 'web/img/pageHeader/pageHeader-1.webp'%}" alt="image">
  </div>

  <div class="container">
    <div class="row justify-center">
      <div class="col-12">
        <div class="pageHeader__content">
          <h1 class="pageHeader__title text-white">
           Event Detail
          </h1>

          <p class="pageHeader__text text-white">
           {{event.sub_title}}
          </p>

        </div>
      </div>
    </div>
  </div>
</section>

    <section class="layout-pt-md layout-pb-xl blog-section">
      <div class="container">
        <div class="row y-gap-30 pt-20 ">
            <div class="col-md-12 collg-12">
              <img src="{{event.image.url}}" alt="image" class="rounded-8">
                </div>
          </div>
        <div class="row y-gap-30 justify-center">
        
          <div class="col-lg-12">
            <h2 class="text-30 md:text-24">{{event.title}}</h2>
            <p class="mt-20">{{event.description|safe}}</p>

            <ul class="ulList2 mt-20">
              {% for event_point in event.get_event_points %}
              <li>{{event_point.title}}</li>
              {% endfor %}
            </ul>

            <div class="line mt-60 mb-30"></div>
           
          </div>
        </div>
      </div>
    </section>

   {% endblock %}
