{% extends "web/base.html" %}
{% load static %}
{% block content %}

<section data-anim="fade" class="mt-header pt-30">
    <div class="container">
        <div class="breadcrumbs mb-30 md:mb-15">
            <span class="breadcrumbs__item">
                <a href="/">Home</a>
            </span>
            <span>></span>
            <span class="breadcrumbs__item">
                <a href="#">Privacy Policy</a>
            </span>
        </div>

        <h1 class="text-30">Privacy Policy</h1>
        <p class="mt-10">
            At Greenleaves Holiday Homes, we are dedicated to ensuring the privacy and security of our guests' personal
            information. This Privacy Policy outlines how we collect, use, and protect your data to provide you with an
            exceptional accommodation experience.
        </p>
    </div>
</section>

<section data-anim="slide-up delay-2" class="layout-pt-md layout-pb-lg">
    <div class="container">
        <div class="tabs -terms js-tabs">
            <div class="row y-gap-30">
                <div class="col-lg-3">
                    <div class="tabs__controls row y-gap-10 js-tabs-controls">

                        <div class="col-12">
                            <button class="tabs__button relative pl-20 js-tabs-button is-tab-el-active"
                                data-tab-target=".-tab-item-1">Policies</button>
                        </div>

                    </div>
                </div>

                <div class="col-lg-9">
                    <div class="tabs__content js-tabs-content">

                        <div class="tabs__pane -tab-item-1 is-tab-el-active">
                            <h2 class="text-20 fw-500">Information We Collect</h2>
                            <p class="mt-10">
                                We collect personal information that you voluntarily provide to us when you make a
                                reservation, contact us, or use our services. This may include:
                            <ul class="policy">
                                <li>Name</li>
                                <li>Contact information (email address, phone number)</li>
                                <li>Payment information
                                </li>
                                <li>Preferences and special requests
                                </li>

                            </ul>
                            </p>

                            <h2 class="text-20 fw-500 mt-30 md:mt-30">Use of Information</h2>
                            <p class="mt-10">
                                The information we collect is used to:
                            <ul class="policy">
                                <li>Process and manage your reservations

                                </li>
                                <li>Communicate with you about your booking and stay

                                </li>
                                <li>Personalize your experience with tailored services and offers

                                </li>
                                <li>Improve our services and facilities

                                </li>
                            </ul>
                            </p>

                            <h2 class="text-20 fw-500 mt-30 md:mt-30">Sharing of Information
                            </h2>
                            <p class="mt-10">
                                We do not sell, trade, or otherwise transfer your personal information to outside
                                parties, except as necessary to provide our services or as required by law. We may share
                                your information with trusted third parties who assist us in operating our website and
                                conducting our business, as long as they agree to keep this information confidential.
                            </p>

                            <h2 class="text-20 fw-500 mt-30 md:mt-30">Data Security

                            </h2>
                            <p class="mt-10">
                                We implement a variety of security measures to maintain the safety of your personal
                                information. Your data is stored in secure environments and is accessible only to those
                                employees who need it to perform their job duties.

                            </p>
                            <h2 class="text-20 fw-500 mt-30 md:mt-30">Cookies and Tracking Technologies
                            </h2>
                            <p class="mt-10">
                                Our website uses cookies and similar tracking technologies to enhance your experience,
                                gather general visitor information, and track visits to our website. You can choose to
                                disable cookies through your browser settings, but this may affect your ability to use
                                certain features of our website.
                            </p>
                            <h2 class="text-20 fw-500 mt-30 md:mt-30">Your Rights
                            </h2>
                            <p class="mt-10">
                                You have the right to access, update, or delete your personal information. If you wish
                                to exercise any of these rights, please contact us at the information provided below.
                            </p>
                            <h2 class="text-20 fw-500 mt-30 md:mt-30">Changes to This Privacy Policy
                            </h2>
                            <p class="mt-10">
                                We may update this Privacy Policy from time to time to reflect changes in our practices
                                or for other operational, legal, or regulatory reasons. We will notify you of any
                                significant changes by posting the new policy on our website.

                            </p>
                            <h2 class="text-20 fw-500 mt-30 md:mt-30">Contact Us
                            </h2>
                            <p class="mt-10 mb-50">
                                If you have any questions about this Privacy Policy or our practices, please contact us
                                at:
                                <ul class="policy">
                                    <li>Greenleaves Holiday Homes</li>
                                    <li>Phone: <a href="tel:+918943888500">+91 89438 88500</a>, <a href="tel:+918943888900">+91 89438 88900</a></li>
                                    <li>WhatsApp: <a href="https://wa.me/918943888500" target="_blank">+91 89438 88500</a></li>
                                    <li>Address: Greenleaves Holiday Homes, Kuruthukuli Post, Ooty, Nilgiri</li>
                                    <li>Email: <a href="mailto:greenleavesholiday@gmail.com">greenleavesholiday@gmail.com</a></li>
                                </ul>
                                <br>
                                By staying at Greenleaves Holiday Homes, you acknowledge that you have read and
                                understood this Privacy Policy and agree to our collection, use, and sharing of your
                                personal information as described. Thank you for choosing Greenleaves Holiday Homes for
                                your stay. We are committed to providing you with an unforgettable experience.
                            </p>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}